{% extends 'baseProducts.html.twig' %}
{% block body %}
    <h1>Products edit</h1>
    </br></br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 create-content">
            {{ form_start(edit_form,  { 'attr': {'class': 'form-horizontal'} }) }}
                {{ form_widget(edit_form) }}
                </br>
                <button type="submit" class="btn btn-default">Edit</button>
            {{ form_end(edit_form) }}
            </br></br>
            <ul>
                <li>
                    <a href="{{ path('products_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
