{% extends 'baseProducts.html.twig' %} 
{% block body %}
    <h1>Products list</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.code }}</a></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a class="btn btn-default" role="button" href="{{ path('products_edit', { 'id': product.id }) }}">Edit</a>
                            <a class="btn btn-default" role="button" onClick="confirmDelete({{product.id}})">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>  
            </br>  
            <ul>
                <li>
                    <a href="{{ path('products_new') }}">Create a new entry</a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
            </ul>
        </div>
    </div>
    {% block javascripts %} 
    <script type="text/javascript">
        function confirmDelete(id) {
            var url = "/taller_symfony/web/products/"+id+"/delete"
            $.confirm({
                title: 'Delete product',
                content: 'Are you sure of delete this item?',
                confirm: function(){
                   window.location.href = url;                      
                },
                cancel: function(){
                    $.alert('Canceled!')
                }
            });
        }
    </script>
    {% endblock %}
{% endblock %}
